name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Get external IP address
      id: ip
      run: echo "::set-output name=ip::$(curl -s ifconfig.me)"

    - name: Build and push Docker image to local Docker Hub registry
      run: |
        DOCKER_REGISTRY_IP=$(echo ${{ steps.ip.outputs.ip }}):5000
        docker buildx create --use
        docker buildx build --platform linux/amd64,linux/arm64 -t $DOCKER_REGISTRY_IP/your-django-app:latest .
        docker push $DOCKER_REGISTRY_IP/your-django-app:latest

    - name: SSH into EC2 and pull/run Docker image
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST_DNS }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
       
        script: |
          DOCKER_REGISTRY_IP=$(curl -s ifconfig.me):5000
          docker pull $DOCKER_REGISTRY_IP/your-django-app:latest
          docker-compose -f path/to/your/docker-compose.yml up -d

    - name: Wait for Django app to start on EC2
      run: sleep 10
